body {
    margin: 0 15px;
    background: linear-gradient(160deg, orange, cyan 100%, cyan);
    color: white;
}

.details{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
    margin-top: 25px;
}



.defaultInfoField {
    padding: 10px 20px;
    width: 100%;
    font-size: 22px;
    color: black;
}

    .defaultInfoField span {
        color: white;
        float: right;
        width: auto;
        font-size: 14px;
    }

.detail {
    display: none;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.cell-btn {
    border-radius: 5px;
    border: 1px solid lightblue;
    outline: none;
}

.cell-btn:hover {
    background: lightblue;
}

.cont-styling {
    padding: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 58px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 58px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 58px -10px rgba(0,0,0,0.75);
    margin-top: 30px;
    margin-bottom: 30px;
}

#add {
    padding: 10px;
    align-self: center;
    border-radius: 10px;
    margin-top: 10px;
    float: right;
    background: linear-gradient(45deg, #e66465, #9198e5);
}

.noInfo {
    color: white;
}


.infoLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
}

.signature{
    text-align: center;
}

.name{
    display: inline-block;
    float: left;
    margin: 10px 0 18px 0;
}

.dopdata{
    margin-top: -10px;
    margin-bottom: 18px;
}

.editBtn{
    float: right;
}

.smlBtn{
    margin: 0 25px;
    width:50%;
    height: 15px;
}

#mytable:nth-child(n) {
    background: transparent;
    border-radius: 10px;
    color: white;
}
.tabulator .tabulator-header .tabulator-col {
    background-color: black;
}

.tabulator .tabulator-tableHolder .tabulator-table {
    background: linear-gradient(45deg, red, blue);
    border-radius: 5px;
}

.butt{
    margin-left: 230px;
}